*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arapey", serif;
}

body{
    background: url(/images/bluebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper{
    width: 90%;
    font-size: 16px;
    max-width: 43.75em;
    margin: 1em auto;
}
.container{
    width: 100%;
}
.sub-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}
.flex{
    display: flex;
    align-items: center;
}
.flex-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper h3{
    color: black;
    font-family: "Cedarville Cursive", cursive;
    margin-bottom: 0.6em;
    font-weight: bolder;
}
.container input {
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #414a67;
    outline: none;
    font-size: 10px;
    margin-bottom: 0.6em;
    
}
.invisible{
    visibility: hidden;
}

.container input:focus{
    border-color: #631C2A;
}
.total-amount-container,
.user-amount-container{
    background-color: #F7F2EC;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: 
    4px 4px 8px rgba(0, 0, 0, 0.2),   /* sombra externa más suave */
    -4px -4px 8px rgba(255, 255, 255, 0.15), /* luz superior suavizada */
    inset 1px 1px 2px rgba(255, 255, 255, 0.2), /* luz interna clara */
    inset -1px -1px 2px rgba(209, 217, 230, 0.15); /* sombra interna más tenue */

}
.output-container{
    background-color: #091E5D;
    color: #d0d0d0;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0 , 80, 0.06);
    margin: 2em 0;
    padding: 1.2em;
    position: relative;
        
}


.output-container p{
    font-weight: 600;
    margin-bottom: 0.6em;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}
.output-container span{
    display: block;
    text-align: center;
    font-weight: 400 ;
}

.submit{
    font-size: 0.7em;
    margin-top: 0.8em;
    background: linear-gradient(145deg, #0b2270, #07194a);
    border: none;
    outline: none;
    color: white;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
    box-shadow: 
    4px 4px 8px rgba(0, 0, 0, 0.2),   
    -4px -4px 8px rgba(255, 255, 255, 0.15), 
    inset 1px 1px 2px rgba(255, 255, 255, 0.2), 
    inset -1px -1px 2px rgba(209, 217, 230, 0.15); 
    transition: all 0.2s ease-in-out;
}


.submit:hover {
    box-shadow: 
        4px 4px 8px #d1d9e6,
        -4px -4px 8px #ffffff,
        inset 1px 1px 3px rgba(255, 255, 255, 0.5),
        inset -1px -1px 3px rgba(209, 217, 230, 0.5);
}

.submit:active {
    box-shadow: 
        inset 4px 4px 6px #d1d9e6,
        inset -4px -4px 6px #ffffff;
}

.list{
    background-color: #F7F2EC ;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0 , 80, 0.06);
    border-radius: 0.6em;
    box-shadow: 
    4px 4px 8px rgba(0, 0, 0, 0.2),   /* sombra externa más suave */
    -4px -4px 8px rgba(255, 255, 255, 0.15), /* luz superior suavizada */
    inset 1px 1px 2px rgba(255, 255, 255, 0.2), /* luz interna clara */
    inset -1px -1px 2px rgba(209, 217, 230, 0.15); /* sombra interna más tenue */
}

.hide{
    display: none;
}

.error{
    color: #631C2A;
}

